.nonselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0;
}

#content,#left-sidebar,#right-sidebar {
    height: 100%;
}

#wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#left-sidebar {
  opacity: 0.95;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #EEF;
  border-left: 0;
  border-right: 1px solid #aaa;
  border-bottom: 0;
  border-top: 0;
}

.left-sidebar-closer {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-image: url('icons/w-triangle24.png');
  background-repeat:no-repeat;
  background-position: center;
  background-size: 12px 16px;
  opacity: 0.8;
}

.left-sidebar-opener {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
/*
  height: 20px;
*/
  height: 127px;
  background-color: #EEF;
  border-left: 0;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-top: 0;
}

.left-sidebar-opener-image {
  width: 20px;
/*
  height: 20px;
  background-image: url('icons/e-triangle24.png');
*/
  height: 127px;
  background-image: url('icons/ChooseStations.png');
  background-repeat:no-repeat;
  background-position: center;
/*
  background-size: 12px 16px;
*/
  background-size: 20px 127px;
  opacity: 0.8;
}

.left-sidebar-title {
  position: relative;
  margin-left: 5px;
  margin-top: 5px;
  left: 0;
}

#right-sidebar {
  opacity: 0.95;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #FEE;
  border-right: 0;
  border-left: 1px solid #aaa;
  border-bottom: 0;
  border-top: 0;
}

.right-sidebar-closer {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url('icons/e-triangle24.png');
  background-repeat:no-repeat;
  background-position: center;
  background-size: 12px 16px;
  opacity: 0.8;
}

.right-sidebar-opener {
  position: absolute;
  top: 0;
  right: 0;
/*
  width: 20px;
  height: 20px;
*/
  width: 19px;
  height: 97px;
  background-color: #FEE;
  border-right: 0;
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-top: 0;
}

.right-sidebar-opener-image {
/*
  width: 20px;
  height: 20px;
  background-image: url('icons/w-triangle24.png');
*/
  width: 19px;
  height: 97px;
  background-image: url('icons/ViewData.png');
  background-repeat:no-repeat;
  background-position: center;
/*
  background-size: 12px 16px;
*/
  background-size: 19px 97px;
  opacity: 0.8;
}

#right-sidebar .multigraph-area {
  padding-top: 25px;
}

.right-sidebar-title {
  position: absolute;
  margin-right: 5px;
  margin-top: 5px;
  right: 0;
}

#map {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #EFE;
  width: 100%;
  height: 100%;
}

/* xyzzy */

#timerange-slider-container {
  margin:  5px;
  padding: 5px;
  border: 1px solid #888;
}

#timerange-slider, #timerange-text {
   margin-top: 10px;
   margin-left: 10px;
   width: 250px;
}

#coverage-slider-container {
  margin:  5px;
  padding: 5px;
  border: 1px solid #888;
}

#coverage-slider, #coverage-text {
   margin-top: 10px;
   margin-left: 10px;
   width: 250px;
}
#coverage-text {
   display: inline;
}

#timerange-min-text {
  margin-left: 0px;
}

#timerange-max-text {
  margin-left: 180px;
}

.ui-slider .ui-slider-handle {
  width: 10px;
  background: #555;
}

#element-checks-container {
  margin:  5px;
  padding: 5px;
  border: 1px solid #888;
}

#station-choice-message-container {
  margin:  5px;
  padding: 5px;
  border: 1px solid #888;
}

#message-container {
  margin:  5px;
  padding: 5px;
  border: 1px solid #888;
}

.element-checkbox {
  margin-left: 20px;
}
