.station-graph-display {
  position: relative;
  border: 1px solid black;
}

.station-graph-display-header {
  padding: 2px;
  padding-left: 6px;
  background: #ccc;
  border-bottom: 1px solid black;
}

.station-graph-display-title {
  font-weight: bold;
}

.station-graph-display-close-button {
  font-weight: bold;
  float: right;
  margin-right: 3px;
}

.station-graph-display .multigraph {
  position: relative;
}

.station-graph-display .multigraph .loading-message {
  margin-left: 40px;
}
.station-graph-display .multigraph .loading-message .spinner {
  margin-top: 16px;
  margin-right: 20px;
}

.station-graph-display .multigraph .close-button {
  position : absolute;
  right: 5px;
  top: 5px;
}
